*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(183, 180, 180);
    color: rgb(0, 0, 0);
}
main{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    
    
 
}
h1, h2, input, button{
    margin-bottom: 1.5rem;
}
p{
    width: 20%;
}
